header {
  background-color: #000;
  padding: 20px 20px;
  position: relative;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: ease-in-out 0.4s;
}

header.shrink .logo img {
  height: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 40px;
}

.items {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.items a {
  color: rgb(255, 255, 255);
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}

.btns {
  display: flex;
  gap: 10px;
}

#login {
  width: Hug 129px px;
  height: Hug 42px px;
  padding: 12px 32px 12px 32px;
  gap: 10px;
  border-radius: 40px;
  border: 0;
  background: 0;
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

#reg_btn {
  width: Hug 129px px;
  height: Hug 42px px;
  padding: 12px 32px 12px 32px;
  gap: 10px;
  border-radius: 40px;
  border: 0;
  background: #fff;
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 20;
}

.menu-icon .open-icon {
  font-size: 30px;
  color: white;
  display: inline-block;
}

.menu-icon .close-icon {
  font-size: 32px;
  color: white;
  display: none;
}

#mobile_login {
  display: none;
  border: none;
  background: 0;
  color: #fff;
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

#mobile_registr {
  display: none;
  width: Hug 129px px;
  height: Hug 42px px;
  top: 28px;
  left: 1151px;
  padding: 12px 32px 12px 32px;
  gap: 10px;
  border-radius: 40px;
  border: 0;
  background: #fff;
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

@media (max-width: 968px) {
  .items,
  .btns {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    gap: 50px;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 5;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  .items.active {
    transform: translateY(0);
  }
  .menu-icon {
    display: flex;
  }
  .menu-icon .open-icon.active {
    display: none;
  }
  .menu-icon .close-icon.active {
    display: inline-block;
  }
  .btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .btns.active {
    display: flex;
  }
  #mobile_login {
    display: flex;
  }
  #mobile_registr {
    display: flex;
  }
}
.herro {
  background: #000000;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  gap: 80px;
  flex-direction: column;
}
.herro .logo3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 40px;
}
.herro .herro_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding-top: 99px;
}
.herro .herro_txt h3 {
  font-family: Effra;
  font-size: 72px;
  font-weight: 900;
  line-height: 80.64px;
  text-align: center;
  color: #fff;
}
.herro .herro_txt p {
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #8b8b8b;
}
.herro .herro_txt button {
  max-width: 200px;
  width: 100%;
  height: 57px;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 40px;
  opacity: 0.9;
  background: #a8ff35;
  font-family: Effra;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  border: 0;
  transition: 0.3s ease-in-out;
}
.herro .herro_txt button:active {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .herro {
    height: auto;
  }
  .herro_txt {
    padding-top: 50px;
    gap: 16px;
  }
  .herro_txt h3 {
    font-size: 48px;
    line-height: 56px;
  }
  .herro_txt p {
    font-size: 16px;
    line-height: 24px;
  }
  .herro_txt button {
    width: 100%;
    height: 50px;
    padding: 12px 0;
  }
}
.newsection {
  background-color: #a8ff35;
  text-align: center;
  padding: 80px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}
.newsection h1 {
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0%;
  text-align: center;
}
.newsection .section2 {
  max-width: 502px;
  max-height: 202px;
  border-radius: 16px;
  background: rgb(245, 245, 245);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.newsection .section2 img {
  width: 32px;
  height: 32px;
}
.newsection .section2 .cta-content {
  flex-wrap: wrap;
  background-color: black;
  width: 341.23px;
  height: 82px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 14px;
}
.newsection .section2 .cta-content p {
  font-size: 1.2rem;
  margin: 0;
  color: white;
}
.newsection .section2 .cta-content .close-btn {
  font-size: 1.2rem;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
.newsection .subtext {
  font-size: 1.2rem;
  color: black;
  margin: 0 auto;
  padding: 0 15px;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 140px;
}
.section3 p {
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: left;
}
.section3 p span {
  color: rgb(173, 173, 173);
  font-family: Effra;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: left;
}

.section4 .repr {
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 80px;
}
.section4 .repr .cardss {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}
.section4 .repr .cardss p {
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 200px;
}
.section4 .repr p {
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: center;
}
.section4 .repr .cardlogo4 {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}
.section4 .repr .cardlogo4 .cardlogo {
  border-radius: 8px;
  background: rgb(245, 245, 245);
  width: 239px;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section5 {
  background: rgb(250, 250, 250);
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.section5 .section5com {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}
.section5 .section5com img {
  max-width: 100%;
  height: auto;
}
.section5 .section5com p {
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: center;
}
.section5 .section5com .card5row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 37px;
}
.section5 .section5com .card5row .cardsrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  transition: 0.4s;
}
.section5 .section5com .card5row .cardsrow:hover {
  border-radius: 8px;
  background: rgb(168, 255, 53);
}
.section5 .section5com button {
  margin-top: 40px;
  margin-bottom: 140px;
  color: rgb(255, 255, 255);
  font-family: Effra;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 40px;
  padding: 16px 32px 16px 32px;
  border: none;
  background: rgb(0, 0, 0);
}

.section6 {
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 80px;
}
.section6 p {
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Effra;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
}
.section6 .menuu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 40px;
}
.section6 .menuu .monthly-p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.section6 .menuu .yearly-p {
  color: rgb(245, 245, 245);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.5;
}
.section6 .corcards {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 120px;
}
.section6 .corcards .card-carusel {
  transition: background-color 0.3s ease;
  width: 350px;
  height: 640px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Arial", sans-serif;
}
.section6 .corcards .card-carusel .plan-title {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 5px 0;
}
.section6 .corcards .card-carusel .plan-subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
  line-height: 15px;
  padding-left: 0px;
}
.section6 .corcards .card-carusel .narx {
  display: flex;
  align-items: baseline;
  text-align: start;
  margin-bottom: 30px;
}
.section6 .corcards .card-carusel .narx .dollar {
  font-size: 24px;
  vertical-align: top;
}
.section6 .corcards .card-carusel .narx .bahosi {
  font-size: 48px;
  font-weight: bold;
  margin: 0 5px;
}
.section6 .corcards .card-carusel .narx .oy {
  font-size: 18px;
  color: gray;
}
.section6 .corcards .card-carusel .pagelar {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 6px;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  width: 100%;
  text-align: left;
}
.section6 .corcards .card-carusel .pagelar li {
  font-size: 16px;
  margin: 10px 0;
  color: black;
}
.section6 .corcards .card-carusel .page1 {
  margin-bottom: 174px;
}
.section6 .corcards .card-carusel .page2 {
  margin-bottom: 128px;
}
.section6 .corcards .card-carusel .cta-button {
  background-color: #c4fb3b;
  color: black;
  transition: 0.4s;
  font-family: Effra;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 29px;
  border: none;
  width: 296px;
  height: 58px;
  padding: 15px 30px;
}
.section6 .corcards .card-carusel:hover {
  border-radius: 16px;
  background: rgb(168, 255, 53);
}
.section6 .corcards .card-carusel:hover .cta-button {
  color: rgb(255, 255, 255);
  font-family: Effra;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 29px;
  background: rgb(0, 0, 0);
  padding: 15px 30px;
  width: 296px;
  height: 58px;
}

.section7 {
  background: rgb(168, 255, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.section7 p:first-child {
  margin-top: 120px;
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 72px;
  font-weight: 900;
  line-height: 112%;
  letter-spacing: 0%;
  text-align: center;
}
.section7 p:nth-child(2) {
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 72px;
  font-weight: 900;
  line-height: 112%;
  letter-spacing: 0%;
  opacity: 0.3;
  text-align: center;
}
.section7 button {
  color: rgb(255, 255, 255);
  font-family: Effra;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 32px 16px 32px;
  width: 180px;
  height: 57px;
  border-radius: 40px;
  border: none;
  background: rgb(0, 0, 0);
  margin-bottom: 120px;
  margin-top: 40px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 40px;
}
footer .footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .footer-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 15px;
}/*# sourceMappingURL=main.css.map */